/*

Departures
	<a>
		<figure style={style}><span>{departure.sname}</span></figure>
		<section>
			<header>
				<h3><Icon type={departure.type} /> {departure.direction}</h3>
				<div>
					<span>{departureTimes.next}</span>
					<span>{departureTimes.after}</span>
				</div>
			</header>
			<ol>
				<li>Läge <strong>{departure.track}</strong></li>
			</ol>
		</section>
	</a>
 */

.Departures

	a
		display flex
		flex-direction row
		align-items center
		min-height 72px
		border-bottom 1px solid #eee
		padding	0 16px
		background #fff
		z-index 5
		position relative

		figure
			display flex
			min-width 40px
			height 40px
			font-size 80%
			font-weight bold
			border-radius 50%;
			border 1px solid #eee
			align-items center
			justify-content: center;
			margin-right 16px


		h4
			flex 1
			white-space nowrap
			overflow hidden
			text-overflow ellipsis

		.-meta
			font-size 70%

			.-track
				width 50px
				text-align center
				padding-top 4px

		.-time
			width 50px

			span
				display inline-block

				&:nth-child(1)
					width 25px
					text-align right
					padding-right 10px

				&:nth-child(2)
					font-size 50%


			ol
				font-size 80%
				display flex

				li
					padding-right 6px
