.Departures

	a
		display flex
		flex-direction row
		align-items center
		min-height 72px
		border-bottom 1px solid #eee
		padding	0 16px
		background #fff

		&:last-child
			box-shadow: 0 4px 15px -8px gray;

		figure
			display flex
			min-width 40px
			height 40px
			font-size 80%
			font-weight bold
			border-radius 50%;
			border 1px solid #eee
			align-items center
			justify-content: center;
			margin-right 16px


		h4
			flex 1
			white-space nowrap
			overflow hidden
			text-overflow ellipsis

		.-meta
			font-size 70%

			.-track
				text-align center
				padding-top 6px

		.-time
			// width 50px

			span
				display inline-block

				&:nth-child(1)
					width 25px
					text-align right
					padding-right 6px

				&:nth-child(2)
					font-size 50%
