.Departures
	font-title()
	transition transform .3s
	max-height 400px
	min-height _list-height-departure
	overflow auto
	overflow-x hidden
	-webkit-overflow-scrolling touch
	box-shadow 0 4px 15px -8px _gray-darker
	position absolute
	width 100%
	background #fff

.Departures__item
	flex-center()
	padding-h()
	min-height _list-height-departure
	border-bottom 1px solid _gray-lighter

	h4
		flex 1
		ellipsis()

	.-meta
		font-subheader()
		padding-top 6px

		.-track
			text-align center

	.-time
		span:nth-child(1)
			width 25px
			text-align right
			padding-right 6px

		span:nth-child(2)
			font-caption()
