/*


 */

.Journey

	a
		display flex
		flex-direction row
		align-items center
		min-height 72px
		border-bottom 1px solid #eee
		padding	0 16px
		background #fff
		z-index 5
		position relative

		figure
			display flex
			min-width 40px
			height 40px
			font-size 80%
			font-weight bold
			border-radius 50%;
			border 1px solid #eee
			align-items center
			justify-content: center;
			margin-right 16px

		div
			flex 1

			h3
				flex 1
				white-space nowrap
				overflow hidden
				text-overflow ellipsis

			ol
				font-size 80%
				display flex

				li
					flex 1

