/*

Stations
	a
		h3
		span

 */

.Stations a
	display flex
	flex-direction row
	align-items center
	min-height 48px
	border-bottom 1px solid #eee
	padding	0 16px
	background #fff
	z-index 5
	position relative

.Stations h4
	flex 1

.Stations span
	font-size 80%
	font-weight 300
