.Stations
	transition color .3s
	max-height calc(100% - 56px)
	font-title()
	position absolute
	width 100%
	background #fff

	.Stations__item
		flex-center()
		padding-h()
		min-height _list-height-station
		border-bottom 1px solid _gray-lighter
		background #fff
		position relative

		> h4
			flex 1

		> div
			font-subheader()
