.Stations
	max-height calc(100% - 56px)

	.Stations__item
		display flex
		flex-direction row
		align-items center
		min-height 48px
		border-bottom 1px solid #eee
		padding	0 16px
		background #fff
		position relative

		> h4
			flex 1

		> div
			font-size 80%
			font-weight 300
