.blink
	color maroon !important
	animation: blink .8s ease-in-out infinite;

.animation-fall-enter.animation-fall-enter-active
	opacity 1
	transform translate3d(0, 0, 0)

.animation-fall-leave
	transition .01s !important
	animation: none !important
	opacity 0
	for $i in (1)..(20)
		&:nth-child({$i})
			transition-delay 0 !important

.animation-fall-leave.animation-fall-leave-active
	transition .01s !important
	animation: none !important
	opacity 1

$animationDelay = 0.03s
.animation-fall-enter
	opacity 0.01
	transform translate3d(0, -100%, 0)
	transition .4s cubic-bezier(0.175, 0.885, 0.32, 1.275)

	for $i in (1)..(20)
		&:nth-child({$i})
			transition-delay (($i * $animationDelay) - $animationDelay)



@keyframes blink {
	0%   { opacity: .6 }
	50% { opacity: .2 }
	100%   { opacity: .6 }
}
