@import url(https://fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium)

@import 'global'

@import 'animations'
@import 'icons'

@import 'components/header'
@import 'components/spinner'
@import 'components/stations'
@import 'components/departures'
@import 'components/journey'

body
	color #333

h3
	font-weight 400


.row
	display flex
	flex-direction row

.col
	flex 1
