main.stations
	.Departures
		transform translate3d(0, -110%, 0)

main.departures

	.Stations
		overflow hidden
		pointer-events none
		color _gray-light !important

	.Omnibutton
		.icon.icon-spinner svg
			g path:nth-of-type(odd)
				opacity 0

			g path:nth-of-type(even)
				transform: rotate(-90deg)
